VITE_APP_ENV=# Cambia esto a "prod" para producción, "dev" para desarrollo
VITE_API_URL= # Cambia esto por la URL de tu backend expuesto por ngrok
VITE_WS_URL= # Cambia esto por la URL de tu backend expuesto por ng